In [ ]:
import numpy as np  
import pandas as pd 
df1=pd.DataFrame(np.arange(10).reshape(2,5))#生成结构化数据框
df1

In [1]:
import numpy as np  
import pandas as pd 
df2=pd.read_csv("shopping.csv")#打开csv文件
df2

    id        date  money product department    origin
0  101  2020-03-10      5     苏打水         饮料     China
1  102  2020-03-11      4      可乐         饮料     China
2  103  2020-03-12     65     牛肉干         零食   America
3  104  2020-03-13    -10     老干妈        调味品     China
4  105  2020-03-14     15      菠萝         水果  Thailand
5  106  2020-03-15     20     冰激凌        NaN     China
6  107  2020-03-16     35     洗面奶        日用品   america
7  108  2020-03-17     16      洋葱         蔬菜     China
8  109  2020-03-18      6      牙膏        日用品     China
9  110  2020-03-19     20      薯片         零食     Japan

In [ ]:
import numpy as np  
import pandas as pd 
df3=pd.DataFrame()

df2.loc[1,"id"] 按照行名列名进行访问

In [ ]:
df4=df3.reindex(index=[2,0,1])#index行索引
colums=['money','id','date']#colums 列索引

df3=df2.drop(0)#删除第0行 不改变df2本身
df4=df2.drop(['id'],axis=1)#删除列
df2_4=pd.concat([df3,df4],sort=True)#合并拼接df3 df4 sort是判断是否为列排序
df2['dd']=[1,2,3,4,5,6,]#新增列

In [9]:
import numpy as np  
import pandas as pd 
df6=pd.DataFrame(np.arange(6).reshape(2,3))#生成结构化数据框
df7=pd.DataFrame(np.arange(10).reshape(2,5))#生成结构化数据框
df6+2
df6+df7
df8=df6.add(df7,fill_value=10)
df8

   0   1   2     3     4
0  0   2   4  13.0  14.0
1  8  10  12  18.0  19.0

In [11]:
import numpy as np  
import pandas as pd 
df5=pd.DataFrame(np.arange(10).reshape(2,5))#生成结构化数据框
s1=pd.Series(np.arange(3))
df5-s1#按行广播

df5.sub(s1,axis=0)#按行展开按列广播

     0    1    2    3    4
0  0.0  1.0  2.0  3.0  4.0
1  4.0  5.0  6.0  7.0  8.0
2  NaN  NaN  NaN  NaN  NaN

df5          s1
01234   -   012
56789   -   012

In [15]:
import numpy as np  
import pandas as pd 
df7=pd.DataFrame(np.arange(20).reshape(4,5))#生成结构化数据框
print(df7)
df7.cumsum()#按列累加求和 默认axis=0
df7.rolling(2).sum()#滚动求和 从上往下滚动求和 两行相加合并 第一行为NaN原因：第一行往上没有数据

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

      0     1     2     3     4
0   NaN   NaN   NaN   NaN   NaN
1   5.0   7.0   9.0  11.0  13.0
2  15.0  17.0  19.0  21.0  23.0
3  25.0  27.0  29.0  31.0  33.0

In [2]:
import numpy as np  
import pandas as pd 
df7=pd.DataFrame(np.arange(20).reshape(4,5))#生成结构化数据框
df7.cov()#斜方差
df7.corr()#相关系数


df8=df7>10
df8 #bool  expression
df2=pd.read_csv("shopping.csv")#打开csv文件
df2.describe()#描述性统计
df2.head(8)#前八条
df2.tail()#后五条

df2.sort_values(by='money',axis=0,ascending=True).head()#按照money列排序 升序

    id        date  money product department    origin
3  104  2020-03-13    -10     老干妈        调味品     China
1  102  2020-03-11      4      可乐         饮料     China
0  101  2020-03-10      5     苏打水         饮料     China
8  109  2020-03-18      6      牙膏        日用品     China
4  105  2020-03-14     15      菠萝         水果  Thailand